doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Site

    link(rel="stylesheet", href="css/plugins.css")
    link(rel="stylesheet", href="css/main.css")
  body

    #app
      header
      .app-main
        .app-navigation
          base-side-menu
        section.content
          router-view
      footer

    script(src="js/bundle.js")
